.container {  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title title"
    "params map months heatmap"
    "params map months heatmap"
    "info last_name_pie last_name_line recognition"
    "info last_name_pie last_name_line recognition";
}

.title { grid-area: title; }

.heatmap { grid-area: heatmap; }

.map { grid-area: map; }

.months { grid-area: months; }

.last_name_pie { grid-area: last_name_pie; }

.last_name_line { grid-area: last_name_line; }

.recognition { grid-area: recognition; }

.info { grid-area: info; }

.params {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "params_title"
    "months_params"
    "map_params";
  grid-area: params;
}

.params_title { grid-area: params_title; }

.months_params { grid-area: months_params; }

.map_params { grid-area: map_params; }
